<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.hashincludebrain.parthasaarthe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParthaSaarthe">
        <activity android:name=".ui.credits.CreditActivity"></activity>
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.quiz.QuizActivity" />
        <activity android:name=".ui.game.ChapterListActivity" />
        <activity android:name=".ui.quiz.QuizCategoryActivity" />
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>